# Root
node_modules/
.env
*.log
.DS_Store

# Backend
Backend/node_modules/
Backend/.env
Backend/dist/
Backend/tmp/

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.local

# Tools & Scratch
scratch/
list_models.js
check_db.js
